h1 {font-size: 50px;
text-align: center;
    font-family: courier;
letter-spacing: 10px}
p {text-align: center;
font-size:20px;
    font-family: courier;
}
h2 {font-family: courier;
    font-size:20px;
}